.body {
  border:dashed 1px red;
}

.menu__item {
   padding: 13px;
   border:dashed 1px red;
}
.menu__item:last-child; {
   padding-right: 0;
}
.header,.main-section {
  border:dashed 1px red;
}
.wrapper {
  margin:auto;
  width:80%;
  border:dashed 1px red;
}
.iogo {
  margin-right:63%;
  padding: 40px 0;
}
.header {
  display:flex;
  justify-content:space-between;
}
